<section>
    <div class="inventory">
        <div class="item-titles flexrow">
            <div class="item-name">{{localize 'WWN.category.foci'}}</div>
            <div class="field-short">{{localize 'WWN.details.level'}}</div>
            <div class="item-controls">
                {{#if owner}}
                <a class="item-control item-create" title='{{localize "WWN.Add"}}' data-type="focus"><i
                        class="fas fa-plus"></i></a>
                {{/if}}
            </div>
        </div>
        <ol class="item-list resizable" data-base-size="260">
            {{#each owned.foci as |focus|}}
            <li class="item-entry">
                <div class="item flexrow" data-item-id="{{focus._id}}">
                    <div class="item-name flexrow">
                        <div class="item-image" style="background-image: url({{focus.img}})"></div>
                        <a>
                            <h4 title="{{focus.name}}">
                                {{focus.name~}}
                            </h4>
                        </a>
                    </div>
                    <div class="field-short">
                        <input value="{{data.ownedLevel}}" type="number" data-dtype="Number" disabled />
                    </div>
                    <div class="item-controls">
                        {{#if ../owner}}
                        <a class="item-control item-show" title='{{localize "WWN.Show"}}'><i class="fas fa-eye"></i></a>
                        <a class="item-control item-edit" title='{{localize "WWN.Edit"}}'><i
                                class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title='{{localize "WWN.Delete"}}'><i
                                class="fas fa-trash"></i></a>
                        {{/if}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</section>