<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'WWN.details.name'}}" data-dtype="String" />
  </h1>
  <ul class="summary flexrow">
    {{#if data.retainer.enabled}}
    <li>
      <input type="text" name="data.retainer.wage" value="{{data.retainer.wage}}" data-dtype="String"
         />
      <label>{{localize 'WWN.RetainerWage'}}</label>
    </li>
    {{else}}
    <li>
      <input type="text" name="data.details.background" value="{{data.details.background}}" data-dtype="String"
         />
      <label>{{localize 'WWN.details.background'}}</label>
    </li>
    {{/if}}
    <li>
      <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" data-dtype="String"
         />
      <label>{{localize 'WWN.details.alignment'}}</label>
    </li>
  </ul>
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="data.details.class" value="{{data.details.class}}" data-dtype="String"
        />
      <label>{{localize 'WWN.details.class'}}</label>
    </li>
    <li class="{{#if (gt data.details.xp.value data.details.xp.next)}}notify{{/if}}">
      <input type="number" name="data.details.level" value="{{data.details.level}}" data-dtype="Number"
         />
      <label>{{localize 'WWN.details.level'}}</label>
    </li>
    <li class="flex2">
      <input type="number" name="data.details.xp.value" value="{{data.details.xp.value}}" data-dtype="Number"
         />
      <label>{{localize 'WWN.details.experience.base'}}</label>
      {{#if data.details.xp.bonus}}
      <span class="xp-bonus">+{{data.details.xp.bonus}}%</span>
      {{/if}}
    </li>
  </ul>
</section>