<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'WWN.Name'}}" />
  </h1>
  <ul class="summary flexrow">
    <li class="flex2 flexrow check-field">
      <div>
        <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" />
        <label>{{localize 'WWN.details.alignment'}}</label>
      </div>
      <div class="check reaction-check" title="{{localize 'WWN.roll.reaction'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="flexrow check-field" data-check="dungeon">
      <div>
        <input type="text" name="data.details.appearing.d" value="{{data.details.appearing.d}}" />
        <label>{{localize 'WWN.details.appearing'}}</label>
      </div>
      <div class="check appearing-check" title="{{localize 'WWN.roll.appearing'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="flexrow check-field" data-check="wilderness">
        (<div><input type="text" name="data.details.appearing.w" value="{{data.details.appearing.w}}" /></div>)
      <div class="check appearing-check" title="{{localize 'WWN.roll.appearing'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="flexrow check-field">
      <div>
        <input type="number" name="data.details.morale" value="{{data.details.morale}}" />
        <label>{{localize 'WWN.details.morale'}}</label>  
      </div>
      <div class="check morale-check" title="{{localize 'WWN.roll.morale'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="flexrow check-field">
      <div>
        <input type="number" name="data.details.instinct" value="{{data.details.instinct}}" />
        <label>{{localize 'WWN.details.instinct'}}</label>  
      </div>
      <div class="check instinct-check" title="{{localize 'WWN.roll.instinct'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
  </ul>
  <ul class="summary flexrow">
    <li>
      <input type="number" name="data.details.xp" value="{{data.details.xp}}" />
      <label>{{localize 'WWN.details.experience.award'}}</label>
    </li>
    <li class="flexrow check-field">
      <div>
        <input type="number" name="data.details.skill" value="{{data.details.skill}}" />
        <label>{{localize 'WWN.skill'}}</label>  
      </div>
      <div class="check monster-skill-check" title="{{localize 'WWN.skill'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="treasure-table" title="{{localize 'WWN.details.treasureTableHint'}}">
      <div>{{{data.details.treasure.link}}}</div>
      <label>{{localize 'WWN.details.treasure'}}</label>
    </li>
  </ul>
</section>